<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1" stopProcessing="true">
                    <match url=".*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/(config|content|editor|keditor|inc|setup|skins|temp|upload|xml)(/|)$" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="已导入的规则 2" stopProcessing="true">
                    <match url=".*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/(admini|config|content|editor|keditor|inc|setup|skins|temp|xml)/(.*)[^\.(js|css|gif|jpg|jpeg|png|swf|html)]$" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="已导入的规则 3" stopProcessing="true">
                    <match url=".*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/(config|content|skins|temp|upload)/.*\.(php|jsp|asp|aspx|cgi|sql|lock)$" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="已导入的规则 4" stopProcessing="true">
                    <match url=".*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/admini/(.+)[^index|login|html].*\.php$" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="已导入的规则 5" stopProcessing="true">
                    <match url=".*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/inc/(.+)[^verifycode|models/index].*\.php$" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="已导入的规则 6" stopProcessing="true">
                    <match url="&quot;^html/([^./]*)[/|]$&quot;" ignoreCase="false" />
                    <action type="Rewrite" url="&quot;/?f={R:1}&quot;" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 7" stopProcessing="true">
                    <match url="&quot;^html/([^./]*)/([0-9]+).html&quot;" ignoreCase="false" />
                    <action type="Rewrite" url="&quot;/?f={R:1}&amp;c={R:2}&quot;" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 8" stopProcessing="true">
                    <match url="&quot;^html/([^./]*)/(view)_([0-9]+).html&quot;" ignoreCase="false" />
                    <action type="Rewrite" url="&quot;/?f={R:1}&amp;a={R:2}&amp;r={R:3}&quot;" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 9" stopProcessing="true">
                    <match url="&quot;^html/([^./]*)/(view)_([0-9]+)_([0-9]+).html&quot;" ignoreCase="false" />
                    <action type="Rewrite" url="&quot;/?f={R:1}&amp;a={R:2}&amp;c={R:3}&amp;r={R:4}&quot;" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 10" stopProcessing="true">
                    <match url="&quot;^html/([^./]*)/(send)_([0-9]+).html&quot;" ignoreCase="false" />
                    <action type="Rewrite" url="&quot;/?f={R:1}&amp;a={R:2}&amp;r={R:3}&quot;" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 11" stopProcessing="true">
                    <match url="^admini[/|]$" ignoreCase="false" />
                    <action type="Rewrite" url="/admini/index.php" />
                </rule>
                <rule name="已导入的规则 12" stopProcessing="true">
                    <match url="^(index.htm)$" ignoreCase="false" />
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="已导入的规则 13" stopProcessing="true">
                    <match url="^(index.html)$" ignoreCase="false" />
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="已导入的规则 14" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)[/|]$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 15" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 16" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)[/|]index.htm$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 17" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)[/|]index.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 18" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/more$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=more" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 19" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/more.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=more" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 20" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/more[/|]$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=more" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 21" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/More$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=more" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 22" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/More.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=more" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 23" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/More[/|]$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=more" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 24" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/n([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=view&amp;r={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 25" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/v([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=view&amp;r={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 26" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/d([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=view&amp;r={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 27" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/pic_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=view&amp;r={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 28" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/poll_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=view&amp;r={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 29" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/product_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=view&amp;r={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 30" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/solutions_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=view&amp;r={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 31" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/category_([0-9]+).html" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;c={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 32" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/comment_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=view_comment&amp;r={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 33" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/jobs_send_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=send&amp;r={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 34" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/single/poll_send_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=index&amp;r={R:2}&amp;vtype=a" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 35" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/complex/poll_send_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=index&amp;r={R:2}&amp;vtype=b" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 36" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/action_([a-z0-9A-Z]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 37" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/action_([a-z0-9A-Z]+)_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a={R:2}&amp;r={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 38" stopProcessing="true">
                    <match url="^reg.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?m=user&amp;a=reg" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 39" stopProcessing="true">
                    <match url="^login.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?m=user&amp;a=login" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 40" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/([a-z0-9A-Z]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?m={R:1}&amp;a={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 41" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/More/([0-9]+)[/|]$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=more&amp;mdtp={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 42" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/more/([0-9]+)[/|]$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=more&amp;mdtp={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 43" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/more/([0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=more&amp;mdtp={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 44" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/([0-9]+)[/|]$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;mdtp={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 45" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/([0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;mdtp={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 46" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/n([0-9]+).html/([0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=view&amp;r={R:2}&amp;c={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 47" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/n([0-9]+).html/([0-9]+)[/|]$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=view&amp;r={R:2}&amp;c={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 48" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/pic_([0-9]+).html/([0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=view&amp;r={R:2}&amp;c={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 49" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/pic_([0-9]+).html/([0-9]+)[/|]$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=view&amp;r={R:2}&amp;c={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 50" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/product_([0-9]+).html/([0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=view&amp;r={R:2}&amp;c={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 51" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/product_([0-9]+).html/([0-9]+)[/|]$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=view&amp;r={R:2}&amp;c={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 52" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/([0-9]+)/([0-9]+)[/|]$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;c={R:2}&amp;mdtp={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 53" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/([0-9]+)/([0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;c={R:2}&amp;mdtp={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 54" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/search.html" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=search" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 55" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/rss_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;i={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 56" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/rss_([0-9]+)_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=get_rss&amp;r={R:2}&amp;i={R:3}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 57" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/basket[|/]$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=basket" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 58" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/intobasket_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=intobasket&amp;r={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 59" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/basketqr[|/]$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=basketqr" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 60" stopProcessing="true">
                    <match url="^([^./][a-z0-9A-Z_-]+)/submitbasket[|/]$" ignoreCase="false" />
                    <action type="Rewrite" url="/?f={R:1}&amp;a=submitbasket" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
