<?xml version="1.0" encoding="utf-8"?>
<WebSite>
	 <SiteName>4.2全新演示模板</SiteName>
	 <FileName>model_shlcmsV42n</FileName>
	 <SiteMaster>霜儿、安小奕、狗头</SiteMaster>
	 <PubDate>2012-01-01</PubDate>
	 <StyleType>清新型</StyleType>
	 <summary>4.2全新功能演示模板</summary>
	 <pic>preview/index_s.jpg</pic>
	 <opic>preview/index.jpg</opic>
</WebSite>