<?xml version="1.0" encoding="utf-8"?>
<WebSite>
	 <SiteName>4.2 酷黑模板</SiteName>
	 <FileName>model_V42n_wing</FileName>
	 <SiteMaster>睚眦、狗头巫师</SiteMaster>
	 <PubDate>2012-01-01</PubDate>
	 <StyleType>酷黑模板</StyleType>
	 <summary>4.2全新功能演示模板</summary>
	 <pic>preview/index_s.jpg</pic>
	 <opic>preview/index.jpg</opic>
</WebSite>